#filters {
    position: absolute;
    top:0;
    right:0;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}

#legenda {
    position: absolute;
    top:0;
    left:0;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
#legenda > *{
    background-color: transparent;
}
span {
    padding-left: 5px;
}


#controls {
    position: absolute;
    top:0;
    left:40%;
<<<<<<< HEAD
    border-style: solid;
=======
>>>>>>> a9487e8379d4c7ba2f7f207797f2af43ec99929e
    padding-left: 4px;
    padding-right: 4px;
}

.filterelem {
    text-align: left;
<<<<<<< HEAD
    border-bottom-style: groove;
=======
>>>>>>> a9487e8379d4c7ba2f7f207797f2af43ec99929e
    margin: 0px;
}

#canvas {
    position: absolute;
    top: 20%;
    left: 2%;
    border-style: solid;
}

#drugs{
    position: absolute;
    top: 0;
    right: 20%;
    border-style: solid;
    width: 300px;
}