#filters {
    position: absolute;
    top:0;
    right:0;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}

/*LEGEND STYLE*/
#legenda {
    position: absolute;
    top:2%;
    left:0;
    /*border-style: solid;*/
    padding-left: 4px;
    padding-right: 4px;
}
#legenda > *{
    background-color: transparent;
}
span {
    padding-left: 5px;
}


#controls {
    position: absolute;
    top:0;
    left:40%;
    padding-left: 4px;
    padding-right: 4px;
}

.filterelem {
    text-align: left;
    margin: 0px;
}



